.container {
   align-content: center;
}

.graph {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(30, 2em);
    grid-template-rows: repeat(10, 2em);
}

.runButton {
    box-sizing: border-box;
    border: 1px solid rgb(0, 2, 128);
    color: rgb(0, 2, 128);
    border-radius: 3px;
    text-align: center;
    padding: 1em 2em;
    cursor: pointer;
}

Vertex {
    height: 1.5em;
    width: 1.5em;
}

.buttonContainer {
    margin-top: 0.5em;
    display: inline-block;
    margin-right: -7.5em;
}

.buttonContainer > button {
    margin-left: 0.2em;
    color: white;
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 3px;
    border: 1px solid black;
    text-transform: uppercase;
    text-align: center;
}