.container {
   align-content: center;
}

.graph {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(30, 2em);
    grid-template-rows: repeat(10, 2em);
}

.runButton {
    box-sizing: border-box;
    border: 1px solid rgb(0, 2, 128);
    color: rgb(0, 2, 128);
    border-radius: 3px;
    text-align: center;
    padding: 1em 2em;
}

Vertex {
    height: 1.5em;
    width: 1.5em;
}