.unvisited {
    background-color: white;
}

.visited {
    background-color: rgb(184, 184, 184);
}

.start {
    background-color: blue;
}

.finish {
    background-color: red;
}

.inPath {
    background-color: rgb(255, 232, 21);
}